@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

body {
  font-family: Raleway, sans-serif;
}

.logo img {
  position: absolute;
  width: 61.09px;
  height: 19px;
}

.filtre {
  display: flex;
}

.tag {
  display: flex;
  align-items: center;
  vertical-align: auto;
}

.tag i {
  margin-right: 10px;
  vertical-align: middle;
  color: #0065fc;
}

.taglist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

.info i {
  margin-right: 10px;
  color: #0065fc;
  font-size: 12px;
}

.heberg i,
.popular i {
  color: #0065fc;
}

.heberg {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding-left: 40px;
  float: left;
  width: 66%;
  position: relative;
}

.heberg img {
  height: 124px;
  width: 246px;
}

.hebergflex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hebergtab {
  margin-right: 20px;
}

.popular {
  float: right;
  width: 34%;
}

.popular img {
  height: 144px;
  width: 137px;
}

.activities img {
  height: 444.51px;
  width: 302px;
}
