@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

body {
  font-family: Raleway, sans-serif;
}

.filtre {
  display: flex;
}

.tag {
  display: flex;
  align-items: center;
  vertical-align: auto;
}

.tag i {
  margin-right: 10px;
  vertical-align: middle;
  color: #0065fc;
}

.taglist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

.info i {
  margin-right: 10px;
  color: #0065fc;
  font-size: 12px;
}

.heberg i {
  color: #0065fc;
}
